@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.s-card {
  margin: 2px;
  cursor: pointer;
}

.s-card-image {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px 1px #ccc;
  margin-left: 10px;
  margin-right: 10px;
}

.s-card-info {
  margin-top: 10px;
  min-height: 100px;
  margin-left: 10px;
}

.s-card-title {
  font-size: 24px;
  margin: 0px;
}

.s-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.s-contact-column {
  width: 100px;
}

.s-card-normal {
  background-color: white;
  padding: 10px;
}

.s-card-highlight {
  background-color: #f2f4fa;
  box-shadow: 1px 1px 3px 0px #ccc;
  padding: 10px;
}

.jumbo {
  background-image: url("assets/images/computerBackground.png");
  background-size: cover;
  background-position: center;
  color: #f2f4fa;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  box-shadow: 1px 1px 3px 0px rgb(224, 224, 224);
}

.whole-page {
  margin-left: -15px;
  margin-right: -15px;
}